@import 'bootstrap/dist/css/bootstrap.css';

html,
body {
  width: 70vw;
        height: 200vh;        
        background: url("https://img.freepik.com/free-photo/beautiful-shot-forest-with-tall-green-trees_181624-20615.jpg?w=1380&t=st=1705965196~exp=1705965796~hmac=550c63fbdc04da82d499c13dcdfad52d898b0054938dd70119d0c214674984aa") no-repeat;
        background-size: cover;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    color: bisque;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.copy-btn{
  color: black;
  background-color: darkslategray;
  border-color: black;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.teamcard{
  background-image: url("https://fiverr-res.cloudinary.com/images/q_auto,f_auto/gigs/267318677/original/9e4dad3ae82eb6371bb0d5e71077de2632c77e34/draw-fantasy-dnd-background-landscape-and-environment-art.png");
  width: 500px;
  height: 500px;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 font-style: italic;
 
}

.MemCard-btn{
  background-color:black;
  color:bisque;
  border-color:black;
}

.mb-3{
  color: black;
}

.imageCard{
  margin-right: 500px;
}
